<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">

    <title>Document</title>
</head>

<h1>The Plate Spot</h1>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Search for a restaurant</h2>
                <form action="/search" method="POST">
                    <input type="text" name="plate" placeholder="Enter a restaurant">
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>