<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDceLtEfKUK0zEcVhjEMypkwHZAQFT9pRE"></script>


    <title>Document</title>
</head>

<h1>The Plate Spot</h1>

<body>
    <div class="col-12">
        <h2>Search for a restaurant</h2>
            <form action="/search" method="POST">
                <input type="text" name="plate" placeholder="Enter a restaurant">
                <button type="submit">Search</button>
            </form>
    </div>

    <div id="map"></div>


    <div id="resultDiv">
        <h2>Result</h2>
        <table id="resultTable">
            <tr>
                <tr>
                    <th>Name</th>
                    <th>Cuisine</th>
                    <th>Location</th>
                    <th>Mood</th>
                    <th>Rating</th>
                </tr>
            </tr>
        </table>
    </div>

    <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d172567.44187344576!2d-52.97006586304157!3d47.482777513508836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4b0ca38e6b0aa261%3A0x9e1fd4001f12261f!2sSt.%20John&#39;s%2C%20NL!5e0!3m2!1sen!2sca!4v1680975237472!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
       
</body>

<script src="restaurant.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDceLtEfKUK0zEcVhjEMypkwHZAQFT9pRE&callback=initMap"
        async defer></script>
